<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Edit Rating</title>
  </head>
  <body>
    <form action="{{ url_for('main.edit', id=book.id) }}" method="POST">
      <p>Book Name: {{ book.title }}</p>
      <p>Current Rating: {{ book.rating }}</p>
      <input hidden="hidden" name="id" value="{{ book.id }}" />
      <label for="rating">New Rating:</label>
      <input name="rating" type="number" id="rating" step="0.1" required />
      <button type="submit">Change Rating</button>
    </form>
  </body>
</html>
